// fonts
$font-rr: 'Roboto-Regular';
$font-rbo: 'Roboto-Bold';
$font-rbl: 'Roboto-Black';
$font-rl: 'Roboto-Light';
$font-ri: 'Roboto-Italic';
$font-rt: 'Roboto-Thin';
$font-rm: 'Roboto-Medium';

// colors


